@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins ,sans-serif;
}
#mainDiv{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.userDiv{
    background-color:#d7d7f6;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    margin: 30px 15px;
}
img{
    width: 300px;
    margin: 20px 0;
    border-radius: 10px;
}
.title{
    text-align: center;
    font-size: 50px;
}
p{
    font-size: 20px;
    margin-top: 20px;
}
h3{
    font-size: 25px;
}
.showUser{
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    margin-bottom: 15px;
    background: #a2a2d5;
    color: white;
    height: 35px;
    width: 230px;
    border-radius: 5px;
}
.showUser:hover{
    transition: 1s;
    background-color: blue;
}


/*//-----------------user-details.html-------------------*/
.userWrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.userDivPage2{
    *{
        margin: 5px;
    }
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #d7d7f6;
    border-radius: 5px;
    border: 1px solid blue;
    padding: 20px;
}
.showPosts{
    color: white;
    font-size: 20px;
    background: #a2a2d5;
    margin: 600px ;
    width: 90%;
    height: 35px;
    border-radius: 5px;
    border: none;
    position: fixed;
}
.showPosts:hover{
    transition: 1s;
    background-color: blue;
}
.postDiv{
    text-align: center;
    background-color: #d7d7f6;
    color: black;
    margin-top: 150px;
    border-radius: 5px;
    border: 1px solid blue;
    padding: 25px;
}
.showPostAllInformation{
    color: white;
    font-size: 20px;
    background: #a2a2d5;
    margin: 15px;
    padding: 0 30px;
    border-radius: 5px;
    border: none;
}
.showPostAllInformation:hover{
    transition: 1s;
    background-color: blue;
}


/*//-------------------------post-details.html------------------------*/
#wrapperPosts{
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
}
.postDivPostDetails{
    text-align: center;
    background-color: #d7d7f6;
    color: black;
    border-radius: 5px;
    border: 1px solid blue;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    margin: 20px;
}
.showComments{
    color: white;
    font-size: 20px;
    background: #a2a2d5;
    margin: 15px;
    padding: 0 30px;
    border-radius: 5px;
    border: none;
}
.showComments:hover{
    transition: 1s;
    background-color: blue;
}